/* body{
    background-color: lightblue;
}
h2{
    color: teal;
}
a{
    text-decoration: underline;
} */
/* #main-title{
    font-size: 30px;
}
.highlight{
    background-color: yellow;
} */
 /* .container{
    color: blue;
 }
 div>span{
    font-weight: bold;
 } */

 /* .container p {
    color: blue;
}
div  span {
    font-weight: bold;
} */


/* input[type="text"]{
    border-color: red;
} */
 a:hover{
    color: green;
 }